<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{{!-- 
			Para importar CSS tengo que usar la ruta del host del contenedor
				o alguna ruta estática de donde handlebars pueda ejecutar una 
				request e injecta el css antes de enviarlo
			
			Ejemplos:
				<link rel="stylesheet" href="http://host.docker.internal/api/assets/css/styles.css">
				<link rel="stylesheet" href="http://host.docker.internal:7000/api/assets/css/styles.css">
				<link rel="stylesheet" href="{{ ulrToImportCss }}/api/assets/css/styles.css">
		--}}

		<link rel="stylesheet" href="{{ ulrToImportCssInEmail }}/api/assets/css/styles.css">
		<title>TITULO: Correo de prueba</title>

	</head>
	<body>
		<h1 class="email-title">Correo de prueba de Jardín Botánico Ushuaia</h1>
		<div class="center-content">
			<img width="300px" src="{{ ulrToImportImagesInEmail }}/api/assets/images/logo.jpg" >
		</div>
		<p>Correo enviado a {{ mailbox }} desde el sitio Jardín Botánico Ushuaia.</p> 

		<div class="right-content">
			<p>Jardín Botánico Ushuaia</p>
		</div>
	</body>
</html>
